.test_content {
	padding: 0;
	margin: 0;
	.test_form {
		width: 100%;
		margin: 50px 0;
		position: relative;
		.test_list {
			padding: 0;
   			text-align: center;
   			.test {
   				display: none;
   				position: relative;
				margin-bottom: 25px;
				padding: 50px 25px 25px;
				border: 3px solid $green;
				border-radius: 25px;
				background: $bg_yellow;
   				&.active {
   					display: block;
   				}
   				h3 {
   					width: 30%;
   					padding: 15px 0;
   					position: absolute;
   					top: -10%;
   					left: 50%;
   					transform: translate(-50%, 0);
   					border-radius: 30px;
   					color: $brown;
   					background: $gray;
   				}
				.question,
				.answer {
					position: relative;
					text-align: left;
					border-radius: 20px;
					&::before {
						content: '';
						position: absolute;
						bottom: -15px;
						display: block;
						width: 0;
						height: 0;
						border-radius: 50%;
						transform: rotate(225deg);
						border-right: 20px solid transparent;
						border-bottom: 20px solid transparent;
					}
					&::after {
						content: '';
						position: absolute;
						display: block;
						width: 0;
						height: 0;
						border-radius: 50%;
						transform: rotate(225deg);
						bottom: -20px;
						border-left: 20px solid $bg_yellow;
						border-top: 20px solid $bg_yellow;
						border-right: 20px solid transparent;
						border-bottom: 20px solid transparent;
					}
					input[type="text"] {
						position: relative;
						z-index: 100;
						box-sizing: inherit;
						font-size: 14px;
						border: none;
						border-radius: 20px;
					}
				}
				.question {
					margin-bottom: 35px;
					padding: 50px 25px;
					color: $white;
					background-color: $green;
					&::before {
						left: 20px;
						border-left: 20px solid $green;
						border-top: 20px solid $green;
					}
					&::after {
						left: 0;
					}
				}
				.answer {
					&::before {
						right: 20px;
						bottom: 15px;
						border-left: 20px solid $yellow;
						border-top: 20px solid $yellow;
					}
					&::after {
						right: 0;
						bottom: 10px;
					}
					input[type="text"] {
						width: 100%;
						margin-bottom: 30px;
						padding: 15px 25px;
						color: $brown;
						background-color: $yellow;
					}
				}
   			}
   		}
	   	.test_form_button {
			display: flex;
			justify-content: space-between;
			width: 50%;
			margin-right: auto;
			font-size: 18px;
			@include min_pc {
				width: 30%;
				margin: 20px auto;
			}
			.prev,
			.next {
				background: $bg_yellow;
				border: 2px solid $green;
				user-select: none;
				&:hover {
					background: $white;
					border: 2px solid $yellow;
				}
				&.inactive {
					color: $gray;
					background: $gray;
					border: 2px solid $gray;
					pointer-events: none;
				}
				.material-symbols-outlined {
					font-size: 20px;
				}
			}
		}
		button {
	   		display: block;
			width: 40%;
			margin-bottom: 0;
			padding: 15px 0;
	   	}
		button[type="submit"] {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 35%;
			padding: 15px 0;
			font-size: 18px;
			font-weight: bold;
			border: 2px solid $red;
			color: $white;
			background: $red;
			@include min_pc {
				width: 25%;
			}
			&:hover {
				border: 2px solid $red;
				color: $red;
				background: $white;
			}
		}
	}
}